body {
    background-color: #060010;
    font-size: 64px;

}

a {
    color: aliceblue;
    margin: 10px;
    text-decoration: none;
    font-size: 150%;
}

a:hover {
    background-color: rgb(10, 79, 182);
    color: rgb(157, 245, 3);
}

div {
    border: 1px solid lime;
    padding-bottom: 10 px;

}   

#menu {
    border: 1px solid rgb(255, 0, 0);
    margin: 10px;
    font-size: 16px;
    width: 900px;
}

.logo {
  border: 1px solid lightsteelblue

}

#link {
    font-size: 40%;
    line-height: 100%;
}

.Colaboração {
    font-size: 16px;
    background-image: url('../IMG/teste.png');
    background-repeat: no-repeat;
    background-position: center 0%;
    
    
}